#container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}

#graph {
  height: 85vmin;
  width: 85vmin;
  aspect-ratio: 1/1;
}

#container > * {
  margin: 10px;
}

#buttons > * {
  width: calc(15vw - 45px);
  display: block;
  margin-bottom: 10px;
  font-size: 10pt;
}
